<div style="width: 393px; height: 852px; position: relative; background: white">
    <div style="width: 169px; height: 43px; left: 29px; top: 27px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Clubes</div>
    <div style="width: 350px; height: 714px; left: 20px; top: 120px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 350px; height: 714px; left: 20px; top: 120px; position: absolute; background: #D9D9D9; border-radius: 15px; border: 1px black solid"></div>
    <div style="width: 312px; height: 52px; left: 39px; top: 148px; position: absolute; background: #F4F4F4; border-radius: 30px"></div>
    <div style="width: 45.26px; height: 40px; left: 292px; top: 154px; position: absolute">
      <div style="width: 22.63px; height: 20px; left: 8.49px; top: 12.50px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25)"></div>
      <div style="width: 24.52px; height: 21.67px; left: 9.43px; top: 10px; position: absolute; border: 1.20px #33363F solid"></div>
      <div style="width: 7.54px; height: 6.67px; left: 23.57px; top: 12.50px; position: absolute; border: 1.20px #33363F solid"></div>
    </div>
    <div style="width: 181px; height: 25px; left: 65px; top: 162px; position: absolute; color: black; font-size: 19px; font-family: Inter; font-weight: 400; word-wrap: break-word">Patricio Mondragon</div>
    <div style="width: 312px; height: 52px; left: 39px; top: 148px; position: absolute; background: #F4F4F4; border-radius: 30px"></div>
    <div style="width: 45.26px; height: 40px; left: 292px; top: 154px; position: absolute">
      <div style="width: 22.63px; height: 20px; left: 8.49px; top: 12.50px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25)"></div>
      <div style="width: 24.52px; height: 21.67px; left: 9.43px; top: 10px; position: absolute; border: 1.20px #33363F solid"></div>
      <div style="width: 7.54px; height: 6.67px; left: 23.57px; top: 12.50px; position: absolute; border: 1.20px #33363F solid"></div>
    </div>
    <div style="width: 181px; height: 25px; left: 65px; top: 162px; position: absolute; color: black; font-size: 19px; font-family: Inter; font-weight: 400; word-wrap: break-word">Patricio Mondragon</div>
    <div style="width: 312px; height: 52px; left: 39px; top: 153px; position: absolute; background: #F4F4F4; border-radius: 30px"></div>
    <div style="width: 45.26px; height: 40px; left: 292px; top: 159px; position: absolute">
      <div style="width: 22.63px; height: 20px; left: 8.49px; top: 12.50px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25)"></div>
      <div style="width: 24.52px; height: 21.67px; left: 9.43px; top: 10px; position: absolute; border: 1.20px #33363F solid"></div>
      <div style="width: 7.54px; height: 6.67px; left: 23.57px; top: 12.50px; position: absolute; border: 1.20px #33363F solid"></div>
    </div>
    <div style="width: 181px; height: 25px; left: 65px; top: 167px; position: absolute; color: black; font-size: 19px; font-family: Inter; font-weight: 400; word-wrap: break-word">Guadalajara</div>
    <div style="width: 312px; height: 52px; left: 39px; top: 216px; position: absolute; background: #F4F4F4; border-radius: 30px"></div>
    <div style="width: 312px; height: 52px; left: 39px; top: 279px; position: absolute; background: #F4F4F4; border-radius: 30px"></div>
    <div style="width: 312px; height: 52px; left: 39px; top: 342px; position: absolute; background: #F4F4F4; border-radius: 30px"></div>
    <div style="width: 181px; height: 25px; left: 75px; top: 230px; position: absolute; color: black; font-size: 19px; font-family: Inter; font-weight: 400; word-wrap: break-word">Edo Mex</div>
    <div style="width: 61px; height: 58px; left: 312px; top: 19px; position: absolute">
      <div style="width: 45.75px; height: 43.50px; left: 7.62px; top: 7.25px; position: absolute; background: #99E493; border-radius: 4px"></div>
      <div style="width: 0px; height: 19.33px; left: 30.50px; top: 19.33px; position: absolute; border-radius: 2px; border: 1px #222222 solid"></div>
      <div style="width: 0px; height: 20.33px; left: 40.67px; top: 29px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border-radius: 2px; border: 1px #222222 solid"></div>
    </div>
    <div style="width: 181px; height: 25px; left: 75px; top: 356px; position: absolute; color: black; font-size: 19px; font-family: Inter; font-weight: 400; word-wrap: break-word">Toluca</div>
    <div style="width: 181px; height: 25px; left: 75px; top: 293px; position: absolute; color: black; font-size: 19px; font-family: Inter; font-weight: 400; word-wrap: break-word">Hidalgo </div>
    <div style="width: 45.26px; height: 40px; left: 291px; top: 225px; position: absolute">
      <div style="width: 22.63px; height: 20px; left: 8.49px; top: 12.50px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25)"></div>
      <div style="width: 24.52px; height: 21.67px; left: 9.43px; top: 10px; position: absolute; border: 1.20px #33363F solid"></div>
      <div style="width: 7.54px; height: 6.67px; left: 23.57px; top: 12.50px; position: absolute; border: 1.20px #33363F solid"></div>
    </div>
    <div style="width: 45.26px; height: 40px; left: 292px; top: 351px; position: absolute">
      <div style="width: 22.63px; height: 20px; left: 8.49px; top: 12.50px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25)"></div>
      <div style="width: 24.52px; height: 21.67px; left: 9.43px; top: 10px; position: absolute; border: 1.20px #33363F solid"></div>
      <div style="width: 7.54px; height: 6.67px; left: 23.57px; top: 12.50px; position: absolute; border: 1.20px #33363F solid"></div>
    </div>
    <div style="width: 45.26px; height: 40px; left: 293px; top: 288px; position: absolute">
      <div style="width: 22.63px; height: 20px; left: 8.49px; top: 12.50px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25)"></div>
      <div style="width: 24.52px; height: 21.67px; left: 9.43px; top: 10px; position: absolute; border: 1.20px #33363F solid"></div>
      <div style="width: 7.54px; height: 6.67px; left: 23.57px; top: 12.50px; position: absolute; border: 1.20px #33363F solid"></div>
    </div>
    <div style="width: 120px; height: 36px; left: 45px; top: 84px; position: absolute; background: #D9D9D9; border-top-left-radius: 15px; border-top-right-radius: 15px; border: 1px black solid"></div>
    <div style="width: 120px; height: 36px; left: 172px; top: 84px; position: absolute; background: #D9D9D9; border-top-left-radius: 15px; border-top-right-radius: 15px; border: 1px black solid"></div>
    <div style="width: 118px; height: 21px; left: 175px; top: 115px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 89px; height: 26px; left: 64px; top: 89px; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Usuarios</div>
    <div style="width: 89px; height: 26px; left: 195px; top: 90px; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Clubes</div>
    <div style="width: 30px; height: 30px; left: 259px; top: 166px; position: absolute">
      <div style="width: 22.50px; height: 22.50px; left: 3.75px; top: 3.75px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25); border-radius: 9999px"></div>
      <div style="width: 10px; height: 0px; left: 10px; top: 15px; position: absolute; border-radius: 2px; border: 1.20px #222222 solid"></div>
    </div>
    <div style="width: 30px; height: 30px; left: 259px; top: 358px; position: absolute">
      <div style="width: 22.50px; height: 22.50px; left: 3.75px; top: 3.75px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25); border-radius: 9999px"></div>
      <div style="width: 10px; height: 0px; left: 10px; top: 15px; position: absolute; border-radius: 2px; border: 1.20px #222222 solid"></div>
    </div>
    <div style="width: 30px; height: 30px; left: 259px; top: 293px; position: absolute">
      <div style="width: 22.50px; height: 22.50px; left: 3.75px; top: 3.75px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25); border-radius: 9999px"></div>
      <div style="width: 10px; height: 0px; left: 10px; top: 15px; position: absolute; border-radius: 2px; border: 1.20px #222222 solid"></div>
    </div>
    <div style="width: 30px; height: 30px; left: 259px; top: 230px; position: absolute">
      <div style="width: 22.50px; height: 22.50px; left: 3.75px; top: 3.75px; position: absolute; background: rgba(125.99, 134.42, 158.31, 0.25); border-radius: 9999px"></div>
      <div style="width: 10px; height: 0px; left: 10px; top: 15px; position: absolute; border-radius: 2px; border: 1.20px #222222 solid"></div>
    </div>
  </div>