<div style="width: 393px; height: 852px; position: relative; background: white">
    <div style="width: 279px; height: 91px; left: 57px; top: 40px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Bienvenido {{Usuario}}</div>
    <div style="width: 350px; height: 714px; left: 22px; top: 85px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>

    <button type="button" onclick="window.location.href='/sesiones_activas';" style="width: 312px; height: 52px; left: 37px; top: 363px; position: absolute; background: #F4F4F4; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word; border-radius: 30px">Sesiones Activas</button>

    <button type="button" onclick="window.location.href='/informacion_personal';" style="width: 312px; height: 52px; left: 41px; top: 160px; position: absolute; background: #F4F4F4; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word; border-radius: 30px">Información Personal</button>
    
    <button type="button" onclick="window.location.href='/noticias';" style="width: 312px; height: 52px; left: 41px; top: 470px; position: absolute; background: #F4F4F4; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word; border-radius: 30px">Noticias</button>

    <button type="button" onclick="window.location.href='/aviso_de_privacidad';" style="width: 312px; height: 52px; left: 40px; top: 682px; position: absolute; background: #F4F4F4; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word; border-radius: 30px">Aviso de Privacidad</button>
    
    <button type="button" onclick="window.location.href='/clubes';" style="width: 312px; height: 52px; left: 34px; top: 261px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word; border-radius: 30px">Clubes</button>

    
    <button type="button" onclick="window.location.href='/administracion';" style="width: 312px; height: 52px; left: 41px; top: 576px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word; border-radius: 30px">Administración</button>

  </div>