<div style="width: 391px; height: 1006px; position: relative; background: white">
    <div style="width: 279px; height: 91px; left: 56px; top: 40px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Agendas Virtulaes<br/>Cudber & Dcorman</div>
    <div style="width: 113px; height: 46px; left: 41px; top: 131px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Usuario</div>
    <div style="width: 175px; height: 46px; left: 41px; top: 237px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contrasena</div>
    <div style="width: 246px; height: 46px; left: 40px; top: 473px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Correo electronico</div>
    <div style="width: 311px; height: 44px; left: 40px; top: 519px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 296px; height: 46px; left: 40px; top: 355px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Repetir contraseña</div>
    <div style="width: 311px; height: 44px; left: 40px; top: 401px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 279px; height: 91px; left: 56px; top: 40px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Agendas Virtulaes<br/>Cudber & Dcorman</div>
    <div style="width: 113px; height: 46px; left: 41px; top: 131px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Usuario</div>
    <div style="width: 175px; height: 46px; left: 41px; top: 237px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contrasena</div>
    <div style="width: 311px; height: 44px; left: 41px; top: 283px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 246px; height: 46px; left: 40px; top: 473px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Correo electronico</div>
    <div style="width: 311px; height: 44px; left: 40px; top: 519px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 311px; height: 44px; left: 40px; top: 519px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 246px; height: 46px; left: 41px; top: 591px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Fecha de nacimiento</div>
    <div style="width: 311px; height: 44px; left: 39px; top: 637px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 311px; height: 44px; left: 39px; top: 637px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 311px; height: 44px; left: 39px; top: 637px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 311px; height: 44px; left: 39px; top: 637px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 311px; height: 44px; left: 40px; top: 401px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 311px; height: 44px; left: 41px; top: 177px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 113px; height: 46px; left: 41px; top: 709px; position: absolute; color: #665C5C; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Club</div>
    <div style="width: 311px; height: 44px; left: 41px; top: 755px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
    <div style="width: 30px; height: 30px; left: 306px; top: 762px; position: absolute">
      <div style="width: 7.50px; height: 15px; left: 22.50px; top: 18.75px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #33363F solid"></div>
    </div>
    <form action="/register" method="POST">
      <input type="text" name="username" id="username" style="width: 311px; height: 44px; left: 41px; top: 177px; position: absolute; background: #D9D9D9; border-radius: 15px">
      <input type="text" name="password" id="password" style="width: 311px; height: 44px; left: 41px; top: 283px; position: absolute; background: #D9D9D9; border-radius: 15px">
      <input type="text" name="repetirPassword" id="repetirPassword" style="width: 311px; height: 44px; left: 40px; top: 401px; position: absolute; background: #D9D9D9; border-radius: 15px">
      <input type="text" name="correoElectronico" id="correoElectronico" style="width: 311px; height: 44px; left: 40px; top: 519px; position: absolute; background: #D9D9D9; border-radius: 15px">
      <input type="text" name="fechaNacimiento" id="fechaNacimiento" style="width: 311px; height: 44px; left: 39px; top: 637px; position: absolute; background: #D9D9D9; border-radius: 15px">
      <input type="text" name="club" id="club" style="width: 311px; height: 44px; left: 41px; top: 755px; position: absolute; background: #D9D9D9; border-radius: 15px">
      <input type="submit" value="Registrarse" style="width: 311px; height: 44px; left: 41px; top: 866px; position: absolute; background: #33C9F8; border-radius: 30px; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">
  </form>
  </div>